:root{
    --softBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VeryDarkBlue1: hsl(217, 54%, 11%);
    --VeryDarkBlue2: hsl(216, 50%, 16%);
    --VeryDarkBlue3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--VeryDarkBlue2);
    font-family: 'Outfit', sans-serif;
    width: 100%;
}

.card{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--VeryDarkBlue1);
    width: 375px;
    border-radius: 13px;
}

.card-content{
    padding: 20px;
    margin: auto;
}

.author img{
    width: 100%;
    border-radius: 8px;
    
}

.image-principal{
    width: 335px;
    border-radius: 15px;
}

h1{
    color: var(--White);
    font-weight: 600;
    font-size: 25px;
}

p{
    font-size: 18px;
    color: var(--softBlue);
    font-weight: 300;
}

.time{
    font-weight: 400;
    height: 18px;
}

.time img{
    height: 20px;
    vertical-align:bottom;
    margin-right: 5px;
}

.eth img{
    height: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}

.info{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info p{
    display: inline;
    justify-content: end;
    font-size: 18px;
}

strong{
    color: var(--Cyan);
    font-weight: 400;
}

span{
    color: var(--White);
}

.author{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.author p{
    font-size: 16px;
    display: inline;
}
.author img{
    border: 1px solid var(--White);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 10px;
}

.attribution{
    color: white;
    margin-top: 15px;
}